# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.venv/
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Data / storage (RAG specific)
# =========================

# ignore content
data/*
storage/*

# keep folders
!data/.gitkeep
!storage/.gitkeep

# ignore files
*.pdf
*.epub
*.faiss
*.pkl

# (opcjonalnie - jeśli nie chcesz commitować txt)
# *.txt

# =========================
# Models / artifacts
# =========================
models/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temp files
# =========================
*.tmp
*.temp

# =========================
# Evaluation outputs
# =========================
evaluation/results/*
!evaluation/results/.gitkeep